h1 {
  color: darkblue;
  font-size: 25px;

}


body {
  background-color: #f4f4f4;
}


.profile-card img{
  height: 400px;
}

#demo {
  color:darkblue;
}


.btn-group button{
  outline: none !important;
  border-style: none; 
}
